.overview-section {
    margin: 4vh 4vw;
}

.overview-charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;

}

.overview-chart {
    margin-top: 6vh;
    width: 500px
}

.logs {
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #319795;
    border-radius: 7px;
    color: #319795;
    cursor: pointer;
    float: right;
}

.logs:hover {
    background-color: #e1f7f7;
}