.excel-file-upload {
    margin: 4vh 4vw;
}

.excel-file-upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    flex-direction: column;
}

.excel-file-upload-panel {
    width: 500px;
    height: 300px;
    /* border: 2px solid red; */
    background-color: rgba(49, 151, 149, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;

}

.excel-file-upload-panel label {
    font-size: 15px;
    margin: 0 0 20px 0;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(98, 98, 98);
}

.excel-file-upload-panel img {
    margin: auto;

}

.excel-file-upload-panel input {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    margin: auto;
}

.excel-file-upload-panel p {
    color: rgb(98, 98, 98);

}

/* button style  */

.excel-file-upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 3vh;
}

.excel-file-upload-btn button {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.excel-file-upload-btn button:nth-child(1) {
    background-color: rgba(82, 82, 82, 0.13);
    border: 1px solid rgb(147, 147, 147);
}

.excel-file-upload-btn button:nth-child(2) {
    border: none;
    outline: none;
    background-color: #FD4084;
    color: white;
}

/* Excel.css */

.excel-file-upload-section select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
}

.excel-file-upload-section select option {
    font-size: 1rem;
}

.excel-file-download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.excel-file-download-btn p {
    padding: 10px 20px;
    background-color: rgba(82, 82, 82, 0.13);
    text-decoration: underline;
    border-radius: 8px;
    outline: none;
    cursor: pointer;

}

@media screen and (max-width: 550px) {
    .excel-file-upload-panel {
        width: 400px;
        height: 270px;
    }
}

@media screen and (max-width: 500px) {
    .excel-file-upload-panel {
        width: 350px;
        height: 260px;
    }
}

@media screen and (max-width: 400px) {
    .excel-file-upload-panel {
        width: 300px;
        height: 240px;
    }
}